extends layout
block content
	if username
		a(href="/game/") Játéklobbi
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| witcherkész nem foglalkozik senior feladataival

	else
		a(href="/observe/") Játéklobbi
			#header-container.ui.segment
				div.online-count
					i.chrome.icon
					| witcherkész nem foglalkozik senior feladataival

	.ui.segment
		.ui.grid.mainpage
			.row.stackable#general-info
				.eight.wide.column
					h1(style="font-size: 22px;") Játszd ezt a förmedvényt a böngésződből! Kivéve, ha nem akarod lelőni Pannit.
					p Az Orbán Titkol egy drámai játék politikai intrikáról és árulásról, ami a 2010-es évek Magyarországán játszódik. A játékosok titokban két csapatra oszlanak - ellenzékre és Fideszre. Egymás kilétét ismerve, a Fidesz bizalmatlanságot kelt propagandájával, hogy hatalomra juttassa hidegvérű vezérét. Az ellenzéki összefogás feladata, hogy megtalálja és megállítsa Orbán Viktort, mielőtt túl késő, és lelője Pannit, akire ez már igazán ráfér.
				.eight.wide.column.news
					h2(style="color: #000").ui.header Koronavírus
					p Kilátásaidról a Fidesz #[a(href="https://koronavirus.gov.hu") teljesen megbízható] csatornáin érdeklődhetsz, miközben #[a(href="https://www.youtube.com/watch?v=n4gjyugPBiQ") feelingbe illő műremeket] hallgathatsz.
					h3 Maradj otthon!
					p De tényleg.
					hr
					h3.ui.header(style="text-align: center") #[a(href="https://www.youtube.com/watch?v=yfsHWkikHN4") Ezt még biztos nem láttad]
					p


